.page-not-found {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;

    display: grid;
    justify-items: center;
    align-items: top;

    grid-template-columns: [s] auto [m] auto [e] auto;
    grid-template-rows: [s] auto auto [e];

    &--title {
        @include formatNotFoundComponent;
        @include redTitle;

        margin-top: 9rem;
    }

    &--description {
        @include formatNotFoundComponent;

        margin-top: 12rem;
        font-size: 1.8rem;
    }

    &--text-links {
        @include formatNotFoundComponent;

        margin-top: 15.25rem;
    }
}