// Grid Positioning
.header-bar {
    grid-row: bar-s/bar-e;
    grid-column: page-s/page-e;
}

.header-button {
    grid-row: header-s/header-e;
    grid-column: content-s/content-e;

    justify-self: end;
    align-self: start;
}

.header-text {
    grid-row: header-s/header-e;
    grid-column: content-s/content-e;

    display: grid;
    grid-template-columns: [s] 1fr [e];
    grid-template-rows: [title-s] 3rem [title-e sub-s] 2rem [sub-e];

    &--title {
        grid-row: title-s/title-e;
        grid-column: s/e;
    }

    &--subtext {
        grid-row: sub-s/sub-e;
        grid-column: s/e;
    }
}

// Styles
.header-bar {
    height: 4rem;
    background-color: $colorGreyD8;
}

.header-button {
    margin-top: 1.5rem;
}

.header-text {
    padding-top: 4rem;

    &--title {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3rem;
    }

    &--subtext {
        color: $colorRedBA;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2rem;
    }
}