.tab-nav {
    display: grid;
    grid-template-rows: [tabs-s] 5rem [tabs-e content-s] 1fr [content-e];

    height: 100%;

    &--tabs {
        grid-row: tabs-s/tabs-e;

        display: grid;
        grid-template-rows: [s] 1fr [m] 1fr 1fr [e];
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-auto-flow: column;
        grid-column-gap: 4.6rem;

        justify-items: center;
        align-items: center;
        justify-content: center;

        border-bottom: 1px solid $colorGreyE6;
    }

    &--tab {
        grid-row: m/e;
        
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;

        text-align: center;

        width: 9rem;
        height: 100%;

        border-bottom: 2px solid transparent;

        &:hover {
            cursor: pointer;
        }
    }

    &--active {
        color: $colorRedBA;
        border-bottom: 2px solid $colorRedBA;
    }
}