*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $fontEncode;
    font-weight: 400;
    color: $colorGrey4D;
}

.layout-grid {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: [page-s header-s] 13.6rem [header-e bar-s] minmax(0,4rem) [bar-e content-s] 1fr [content-e page-e]; // might set the minmax to auto
    grid-template-columns: [page-s] 14rem [content-s] 1fr [content-e] 14rem [page-e];
}