@mixin formatAuthComponent {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

@mixin formatForBrowsers($command, $params) {
    -webkit-#{$command}: $params;
    -moz-#{$command}: $params;
    -o-#{$command}: $params;
    #{$command}: $params;
}

@mixin formatInputField {
    height: 4rem;
    width: 100%;
    border: 1px solid $colorGreyE6;
    border-radius: .5rem;
    padding-left: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
}

@mixin formatNotFoundComponent {
    grid-row: s/s;
    grid-column: m/m;
}

@mixin redTitle {
    color: $colorRedBA;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.3rem;
}