.sign-in {
    @include formatAuthComponent;
}

.sign-in-form {
    display: grid;
    justify-items: center;

    grid-template-columns: [s] 1fr [input-s] 62.9rem [input-e] 1fr [e];

    &--title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: 1/-1;
    }

    &--email {
        margin-top: 7.7rem;
        grid-column: input-s/input-e
    }

    &--password {
        margin-top: 4.4rem;
        grid-column: input-s/input-e
    }

    &--login {
        margin-top: 8.8rem;
        grid-column: input-s/input-e
    }

    &--text-links {
        margin-top: 5.2rem;
        grid-column: input-s/input-e
    }

    &--email,
    &--password {
        transform: translateX(-64.5px);
    }
}