.sign-up {
    @include formatAuthComponent;
}

.sign-up-form {
    display: grid;
    justify-items: center;

    grid-template-columns: [s] 1fr [input-s] 62.9rem [input-e] 1fr [e];

    &--title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
    }

    &--fullname {
        margin-top: 7.7rem;
        grid-column: input-s/input-e;
    }

    &--unit,
    &--email,
    &--password {
        margin-top: 4rem;
        grid-column: input-s/input-e;
    }

    &--create-account {
        margin-top: 8.8rem;
        grid-column: input-s/input-e;
    }

    &--text-links {
        margin-top: 5.2rem;
        grid-column: input-s/input-e;
    }

    &--fullname,
    &--unit,
    &--email,
    &--password {
        transform: translateX(-64.5px);
    }
}