.button {
    width: 7.4rem;
    height: 2.4rem;

    border-radius: 1.6rem;
    border: 1px solid $colorGrey4D;

    font-size: 1.4rem;
    line-height: 1.6rem;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s ease;

    &:hover {
        color: $colorRedBA;
        border: 1px $colorRedBA solid;
    }
}