.error-message {
    align-self: center;
    justify-self: center;

    color: $colorRedBA;  

    font-size: 2rem;

    padding: 1rem 3rem 1rem 3rem;
    border: 1px $colorRedBA solid;
    border-radius: 3rem;
}

.error-message-off {
    font-size: 0;
}