// Input
.form-input,
.form-textarea {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 10fr;

    align-items: center;
    width: 100%;
    justify-content: center;

    &--title {
        grid-row: 1/-1;
        grid-column: 1/2;
    }

    &--input {
        grid-row: 1/-1;
        grid-column: 2/3;
    }
}

// Input
.form-input {
    &--title {
        @include redTitle;
    }

    &--input {
        @include formatInputField;
    }
}

// Textarea
.form-textarea {
    &--title {
        @include redTitle;
        align-self: start;
    }

    &--input {
        @include formatInputField;

        resize: none;
        height: 35.5rem;
        padding-top: 1rem;
        //width: 76rem;
    }
}

// Button
// Below is commented because it's messing with the server backend.  I don't know how or why
// .form-button,
// .form-button-small,
// .form-image {
//     &--button,
//     &--replace {
//         transition: all .5s ease; //.2s

//         &:focus {
//             outline: none;
//         }

//          &:active {
//              transform: scale(.095) translateY(.205rem);
//          }
//     }
// }

.form-button {
    &--button {
        height: 4rem;
        width: 21.6rem;
        border-radius: 2rem;
        background-color: $colorRedBA;

        color: white;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.8rem;
        text-align: center;
    }
}

.form-button-small {
    &--button {
        background-color: white; // this needs to be here or else the button will look real weird.
        width: 13rem;
        height: 2.4rem;

        border-radius: 1.6rem;
        border: 1px solid $colorGrey4D;

        font-size: 1.4rem;
        line-height: 1.6rem;

        text-align: center;
    }

    &--danger {
        color: white;
        border: 1px solid $colorRedBA;
        background-color: $colorRedBA;
    }
}

// Image
.form-image {
    object-fit: cover;

    display: grid;
    grid-template-rows: [title-s] 1fr [title-e image-s] 13.7rem [image-e];
    grid-template-columns: [s] 16rem [e];

    & > * {
        grid-column: s/e;
    }

    &--title {
        @include redTitle;
        margin-bottom: 2rem;
        grid-row: title-s/title-e;
    }

    &--image {
        border: none;
        width: 16rem;
        height: 13.7rem;
        background-color: rgb(231, 231, 231);
        grid-row: image-s/image-e;
    }

    &--replace {
        background-color: white; // this needs to be here or else the button will look real weird.
        color: $colorRedBA;
        width: 13rem;
        height: 2.4rem;

        border-radius: 1.6rem;
        border: 1px solid white;

        font-size: 1.4rem;
        line-height: 1.6rem;

        text-align: center;
        grid-row: image-s/image-e;
        justify-self: center;
        align-self: center;
    }
}