.requests-item {
    display: grid;
    grid-template-rows: [s title-s] 3.4rem [title-e tenant-s] 3.4rem [tenant-e e];
    grid-template-columns: [icon-s] 10rem [icon-e s title-s] minmax(4rem, 1fr) [title-e arrow-s] 6.8rem [arrow-e date-s] 10rem [date-e e] 6rem;

    &--icon {
        grid-column: icon-s/icon-e;
        grid-row: s/e;
    }

    &--title {
        grid-column: title-s/title-e;
        grid-row: title-s/title-e;

        display: flex;
        flex-direction: row;
    }

    &--tenant-unit {
        grid-column: title-s/title-e;
        grid-row: tenant-s/tenant-e;
    }
    &--date {
        grid-column: date-s/date-e;
        grid-row: s/e;
    }

    &--move {
        grid-column: date-s/date-e;
        grid-row: s/e;
    }

    &--description {
        grid-column: s/e;
    }

    .item-description {
        display: grid;
        grid-column-gap: 4rem;
        grid-auto-flow: column;
        grid-template-columns: [image-s] 15rem [image-e] 1fr;
        grid-template-rows: 10rem;

        &--image {
            grid-column: image-s/image-e;
        }
    }
}

.bg-F0 {
    background-color: $colorGreyF0
}

.requests-item {
    align-items: center;
    padding: 0.6rem 0rem;

    transition : all .3s ease;

    &:hover {
        background-color: $colorGreyF0;

        .requests-item--move {
            transform: translateX(0rem);
            opacity: 1;
        }

        .requests-item--moving-date{
            transform: translateX(-10rem);
        }
    }

    &--icon {
        justify-self: center;
        font-size: 2.7rem;
    }

    &--title {
        align-items: end;

        &--text {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 2.3rem;

            margin-right: 2.5rem;
        }
        &--arrow {
            color: $colorGrey4D;
            font-size: 3rem;
        }
    }

    &--tenant-unit {
        align-self: start;

        color: $colorRedBA;
        font-family: $fontEncodeCond;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    &--date {
        transition: .3s ease all;
        text-align: right;

        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    &--move {
        justify-self: end;
        transition: all .3s ease;

        transform: translateX(10rem);
        opacity: 0;
    }

    .item-description {
        justify-self: start;

        margin-top: 1.4rem;
        margin-bottom: 2.2rem;

        &--image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        &--text {
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
    }
}