.requests-box {
    display: grid;
    grid-template-rows: [s count-s] 8.1rem [count-e title-s] 1.9rem [title-e e]; // these are the same length as the line heights
    grid-template-columns: [s] 1fr [e];

    justify-items: center;
    align-content: center;

    &--count,
    &--icon {
        grid-row: count-s/count-e;
        grid-column: s/e;
        align-self: end;
    }

    &--title {
        grid-row: title-s/title-e;
        grid-column: s/e;
        align-self: start;
    }

    &--point {
        grid-row: s/e;
        grid-column: s/e;
        
        justify-self: center;
        align-self: center;

        transform: translateX(191%) rotate(45deg); // translateX should be 50% but only seems to work at 191%, weird.
    }
}

.requests-box {
    height: 16rem;
    width: 16rem;

    border: .15rem solid $colorRedBA;
    border-radius: .5rem;

    color: $colorRedBA;

    &:hover {
        border-color: $colorRedBA;
        background-color: transparent;

        .requests-box--point {
            display: none;
        }

        .requests-box--icon {
            transform: translateX(0);
            opacity: 1;
        }

        .requests-box--count {
            transform: translateX(10rem);
            opacity: 0;
        }

        .requests-box--title {
            color: $colorRedBA;
        }
    }

    &--count,
    &--icon {
        transition: all .3s ease;

        font-size: 7rem;
        line-height: 8.1rem;
        margin-bottom: 1rem;

        transform: translateX(0);
    }

    &--icon {
        opacity: 0;
        font-size: 5rem;

        transform: translateX(-10rem);
    }

    &--title {
        font-size: 1.9rem; // might be changed to 2
        line-height: 2.3rem;
    }

    &--point {
        height: 4rem;
        width: 4rem;
        background-color: white;

        border: .15rem solid $colorRedBA;
        border-left: .15rem solid transparent;
        border-bottom: .15rem solid transparent;
    }

    &:hover {
        cursor: pointer;
    }
}

.requests-box-active {
    background-color: $colorRedBA;
    border-color: $colorRedBA;

    .requests-box {
        &--title,
        &--count {
            color: white;           
        }

        &--point {
            background-color: $colorRedBA;
            border-color: $colorRedBA;
        }
    }
}

.requests-box-inactive {
    border-color: $colorGreyE6;

    .requests-box {
        &--title,
        &--count {
            color: $colorGrey4D;
        }

        &--point {
            display: none;
        }
    }
}