.requests-grid {
    grid-row: content-s/content-e;

    justify-content: center;

    display: grid;
    grid-template-rows: [add-s] 4.7rem [add-e s boxes-s] 1fr [boxes-e e];
    grid-template-columns: [boxes-s] 16rem [boxes-e requests-s] 96rem [requests-e];

    grid-column-gap: 6.1rem;

    &--button {
        grid-row: add-s/add-e;
        grid-column: requests-s/requests-e;
        justify-self: end;
        align-self: center;

        margin-right: 1rem;
    }
}