.newsletter-latest {
    grid-row: s/e;
    grid-column: latest-s/latest-e;

    display: grid;
    grid-template-rows: [s] 25.8rem [m] 40.5rem [e];
    grid-template-columns: [s] 1fr [e];

    border: 1px solid $colorGreyE6;
    border-radius: .5rem;

    & > * {
        grid-column: s/e;
    }

    &--title,
    &--image {
        grid-row: s/m;
        justify-self: center;
        align-self: center;
    }

    &--title {
        color: white;

        font-size: 4rem;
        font-weight: 500;
        line-height: 5rem;

        text-align: center;
    }

    &--image {
        z-index: -10;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--body{
        grid-row: m/e;

        p {
            margin: 6.3rem 6.05rem;
            line-height: 2.2rem;
            font-size: 1.6rem;
            white-space: pre-wrap;
        }
    }

    &--button {
        grid-row: s/m;
        grid-column: s/e;
        justify-self: end;
        align-self: end;

        margin-right: 1rem;
        margin-bottom: 1.2rem;
    }
}