.newsletter-box {
    grid-row: box-s/box-e;
    grid-column: box-s/box-e;

    display: grid;
    grid-template-rows: [s day-s] 8.1rem [day-e month-year-s] 1.9rem [month-year-e e]; // these are the same length as the line heights
    grid-template-columns: [s] 1fr [e];

    justify-items: center;
    align-content: center;

    &--day {
        grid-row: day-s/day-e;
        grid-column: s/e;
        align-self: end;
    }

    &--month-year {
        grid-row: month-year-s/month-year-e;
        grid-column: s/e;
        align-self: start;
    }

    &--point {
        grid-row: s/e;
        grid-column: s/e;
        
        justify-self: center;
        align-self: center;

        transform: translateX(191%) rotate(45deg); // translateX should be 50% but only seems to work at 191%, weird.
    }
}

.newsletter-box {
    height: 16rem;
    width: 16rem;

    border: .15rem solid $colorRedBA;
    border-radius: .5rem;

    color: $colorRedBA;

    &--day {
        font-size: 7rem;
        line-height: 8.1rem;
        margin-bottom: 1rem;
    }

    &--month-year {
        font-size: 1.9rem; // might be changed to 2
        line-height: 2.3rem;
    }

    &--point {
        height: 4rem;
        width: 4rem;
        background-color: white;

        border: .15rem solid $colorRedBA;
        border-left: .15rem solid transparent;
        border-bottom: .15rem solid transparent;
    }
}