.new-newsletter,
.new-request {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

.new-newsletter-form {
    display: grid;
    grid-template-columns: [s input-s] 102rem [input-e] 1fr [e];

    &--title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
        grid-row: 1;
    }

    &--newsletter-title,
    &--body {
        margin-top: 4.1rem;
        grid-column: input-s/input-e
    }

    &--body {
        grid-row: 3;
        margin-top: 2rem;
    }

    &--submit,
    &--cancel {
        grid-column: 1/-1;
        grid-row: 1/-1;
        justify-self: end;
        align-self: end;

        margin-left: .2rem;
        margin-bottom: 1.2rem;
    }

    &--cancel {
        transform: translateX(-15.5rem);
    }

    &--image {
        grid-row: 3;
        grid-column: 1;
        align-self: end;
    }
}