.newsletter-archive { 
    margin-top: 3.85rem;
    
    grid-row: archive-s/archive-e;
    grid-column: archive-s/archive-e;

    display: grid;
    grid-template-rows: [title-s] 2.7rem [title-e items-s] 1fr [items-e];

    &--title {
        
        color: $colorRedBA;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.3rem;

        border-bottom: .1rem solid $colorGreyE6;
        padding-bottom: .4rem;
    }
}

.archive-items {
    margin-top: 1.6rem;
    display: grid;
    grid-row-gap: 1.6rem;
    grid-template-rows: repeat(auto-fit, 1fr);
    align-content: start;
}

.archive-item {
    display: grid;
    grid-row-gap: .3rem;

    &--title {
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 3px;
        transition: all .2s ease;

        
        &:hover {
            cursor: pointer;
            font-size: 1.6rem;
            font-weight: 500;
        }
        
    }

    &--date {
        color: $colorRedBA;
        font-family: $fontEncodeCond;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}